In [ ]:
#### Reading the files using Pandas

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
dtype_dict = {'column_name': str, 'another_column': float}
df = pd.read_csv(r"C:\Users\user\Desktop\JKR\Data\02_year_one.csv", dtype=dtype_dict)

C:\Users\user\AppData\Local\Temp\ipykernel_18124\2521505580.py:2: DtypeWarning: Columns (45,59,256,325,378,396,596,634,665,668,671,696,699,727,730,733,758,761,789,792,820,823,826,851,882,885,888,913,944,975,978,1006,1037,1068,1071,1099,1102,1105,1130,1192,1195,1198,1223,1285,1288,1316,1319,1322,1352,1356,1360,1364,1368,1372,1390,1395,1400,1469,1474,1479,1532,1545,1572,1610,1623,1650,1868,1876,1884,1892,1933,1942,1964,1993,2026,2033,2034,2042,2116,2137,2176,2179,2194,2197,2212,2215,2230,2233,2248,2251,2266,2269,2302,2305,2338,2341,2356,2359,2392,2395,2410,2413,2428,2431,2464,2467,2482,2485,2518,2521,2536,2538,2540,2555,2558,2573,2576,2591,2594,2645,2648,2663,2666,2681,2684,2722,2743,2764,2767,2782,2785,2800,2803,2836,2839,2872,2875,2908,2911,2926,2929,2944,2947,2962,2965,2980,2983,2998,3001,3016,3019,3034,3037,3071,3074,3089,3092,3143,3146,3161,3164,3197,3200,3215,3218,3233,3236,3251,3254,3269,3272,3342,3358,3361,3371,3374,3397,3400,3410,3413,3423,3426,3436,3439,3449,3452,3462,3465,3475,3478,3488,3491,3501,3504,3514,3517,3605,3608,3631,3634,3644,3647,3670,3673,3683,3686,4022,4030,4033,4040,4054,4061,4068,4075,4098) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\user\Desktop\JKR\Data\02_year_one.csv", dtype=dtype_dict)

In [4]:
def extract_data(file_path):
    df = pd.read_csv(file_path)
    return df

In [5]:
def transform_data(df):
    df.columns = [col.lower().replace(" ", "_") for col in df.columns]
    df.dropna(inplace=True)  
    df['created_at'] = pd.to_datetime(df['created_at'])
    return df

In [ ]:
def run_etl():
    file_path = '02_year_one'
    db_uri = 'postgresql://username:password@localhost:5432/mydatabase'
    table_name = 'Year_one'

    raw_df = extract_data(file_path)
    transformed_df = transform_data(raw_df)
    load_data(transformed_df, table_name, db_uri)

In [ ]:
if __name__ == '__main__':
    run_etl()